VITE_SUPABASE_URL=https://kevoratddzcxqwuauxsi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtldm9yYXRkZHpjeHF3dWF1eHNpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA3NDA3ODMsImV4cCI6MjEwNjMxNjc4M30.wZ1syqYfIy7oAdSfMBDBFa9k1dRUOUi7VrfuXAQonxo
